@use './foxie.scss' as *;

@mixin corner-icon($color:red, $height:250px, $width:250px, $padding:15px) {
    .bloc-#{$color} {
      background: $color;
      height: $height;
      width: $width;
      margin:$padding;
      @extend %flex;
    }
  }

 @include corner-icon(red);
 @include corner-icon(blue);
 @include corner-icon(green);
 @include corner-icon(yellow);
  