$white:#ffffff;
$orange:#ff7200;
$grey:#999;
$black:#181818;
$blanc:#f7f7f7;
$yellow: #FDD835;
$blue: #cdcdd6;
$red: #833f17;
$orange: #f67f00;
$pink: #ffa8c7;
$brown: #ce9339;
$gris:#6e6e6e;
$ray:#f8d7da;
$raye:#f5c6cb;
$blac:#333;
$what: #ccc;
$btn: #6e6e6e;
$rauge:#721c24;
$rgb:#f8d7da;